<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MySQLTest_2.Properties.Settings.connectionString"
            connectionString="server=localhost;user id=root;password=123456;database=user"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>